@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
    
}

.body_center {
   
    background-color: #ebe9e9;
 

}


/*Home - pag 1*/



/* Header */

.header_nav {
   
    display: flex;
    justify-content: space-around;
   

   
}



.header_nav ul {
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.header_nav ul li a, #btn-hover {
  font-size: 0.70em;
  color: rgb(29, 29, 29);
  padding: 5px;
  border-radius: 3px;
  border: solid cornflowerblue 1.8px;
  background-color: transparent;


}

.btn_mio:hover {
    
  font-weight: 700;
    
   
}

/* Main */

.box_home{
    display: flex;
    justify-content: center;
    
}
.main_container {
   display: flex;
   padding-top: 100px;
    gap: 10px;
    width: 500px;
}


.main_container section .main_about {
    padding-top: 20px;
}

.main_container h1 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: inline-block;
    font-size: 18px;
    color: cornflowerblue;
}
.container_main_1 {
    padding-top: 30px;
    width: 60%;
}

.container_main_1 h3 {
    font-size: 12px;
    
}

.container_main_1 p:nth-child(1) {
   
    font-size: 13px;

}
#p2_home {
    padding: 10px 0;
    font-size: 12.3px;
 }
 


 .container_main_2 img {
    
     width: 200px;
     object-fit: cover;
     object-position: center;
     border-radius: 200px 300px;
     
 }
 .container_main_2 {
    
    align-content: center;
     
 }
 
/*Contacts*/

#box_contacts {
    min-height: 100px;
   justify-content: center;
    padding: 15px 0;
    
}

#box_contacts div img{

    width: 20px;

}

.box_1_2_3_contacts{
    margin-top: 5px;
  
    display: flex;
    gap: 20px;
   
    align-items:center;
    
}




#box_contacts a, #box_contacts p {
    font-size: 13px;
    color: black;


}



#box_contacts a:hover {
    font-weight: 800;
    color: cornflowerblue;
    transition: 0.4s;
}


/*Projects - pag 2*/

/*box1_about*/


.cards {
    
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
   
  
    
}

.cards .card {
   
  
    width: 250px;
    height: 40%;
    
    border: solid black 1px;
    border-radius: 150px;
    border: transparent;
    background-color: rgb(153, 180, 231);
    border-radius: 10px ;   
    
}

.card img {
    width: 250px;

}

.cards .card p {

    font-size: 10px;
   
    padding: 15px;
}

/* About - pag3*/

#about_h3 {
    display: inline-block;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    color: rgb(46, 99, 198);

  
   
    
}
h3:hover {
    color: rgb(182, 192, 211);
    transition: 0.5s;
}


.main_pag_about {
    padding: 20px 20px ;
    
    display: flex;
    gap: 35px;
    margin: 0 auto;
    max-width: 1024px;
    
}

.container_about_txt{
    margin-top: 30px;
    
}

.container_about_txt span{
   font-size: 16px;
}

.container_about_txt p {
    
    font-size: 13px;
}


.container_about_txt img {
    width: 30px;
}

.box_imgs_tec {
    display: flex;
    flex-direction: row;
}

.box_tec_about{
   padding-top: 20px;
   
}

.box_tec_about p{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    padding-bottom: 8px;
    
}


.container_about_txt p {
    margin-top: 10px;
    font-size: 13px;
    
}


.container_about_txt p:nth-child(5) {
   border-top: dashed black 2px;
    
}


/*box2_about*/


#box2_about img {
    width: 500px;
    margin-top: 20px;
    
    border: solid cornflowerblue 1.7px;
    border-radius: 10px;
    
}




/*CV - pag5*/


#name_cv {
    margin-bottom: 15px;
}
.cv_style {
    font-size: 12px;
}

#box_main_CV  {
    justify-content: center;
    display: flex;
    gap: 60px;
    padding: 20px;

  
   
   

}

#box_cv_1 h1 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;

}
.box_work h3 {
    color: rgb(46, 99, 198);
    font-weight: 800;
    padding: 5px 0 1.5px 0;

}

.cv_style h2 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding: 10px 0 0 ;
}
.ed_style ul li:nth-child(1){
    font-size: 14.04px;
    color: rgb(46, 99, 198);
    font-weight: 800;
}

#box_cv_2 {
    padding-top: 45px;
}

#box_cv_2 > img {
width: 160px;

}


/* slider Projetcs */


/*buttons*/
#btn-destra-sinistra {
    display: flex;
    
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
    background-color:transparent;
   
   }
   
   #btn-destra-sinistra button {
  
     background-color: transparent;
     border: transparent;

    
    }
   
   /* #btn-destra-sinistra button:hover {
  
     transform: rotate(1s);

    
    } */
   

   
   .imgIcon {
     float: left;
     width: 30px;
     margin: 10px;
   }
   
   /*slider*/
   
   .containerSlider{
    color: rgb(15, 0, 0);
    margin: 0 auto;
     max-width: 599px;
     height: 350px;
     display: flex;
     overflow: scroll;
     background-color: cornflowerblue;
     border-radius: 10px;
   }
   
   
   .containerSlider div{
     width: 100%;
     display: flex;
     gap: 10px;
     grid-template-columns: auto; 
     grid-gap: 20px;
     flex: none;
   }



   .scrolBox .boxInfo_projects  {
    
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 30px;
    background-color: white;    
    
 
  
   }

   .scrolBox .boxInfo_projects span{
    
    text-align: center;
  
    
  
   }
  .boxInfo_projects a{
    font-weight: 800;
    color: rgb(39, 38, 38);
  
    
  
   }
   

   .scrolBox div img {
    width: 200px;
    height: 180px;
    border-radius: 10px;
    
   }
   
   .containerSlider::-webkit-scrollbar {
    display: none;
   }
  



   

 
   
   


/* Footer*/





::-webkit-scrollbar {
    width: 0px;
}

@media only screen and (max-device-width: 1045px) {
    .body_center {
       justify-content: center;
    min-height: 900px;

    }


    /*Pag Home*/

    .main_container {
        flex-direction: column-reverse;
        display: flex;
        padding-top: 16px;
        align-items: center;
        padding-top: 10px;
    }

    .container_main_2 {
       margin-top: 40px;
    }


    /*Pag About*/

    #box2_about img{
        display: flex;
      
        width: 100%;
    }
    .main_pag_about {
        flex-direction: column-reverse;
    }

    /*CV*/

    #box_main_CV {
        display: flex;
        flex-direction: column;
        gap: 0;
       
    }

    #box_cv_2 {
        padding-top: 0;

        
    }

    /* Projects */

    .scrolBox .boxInfo_projects  {
    
        flex-direction: column;
        
    }

    .containerSlider {
        align-items: center;
         height: 500px;
        
      
       }

    

   
}
